/*---*/
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
.contenedor {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}
.contenedor header {
  padding: 10px;
  background: #170153;
  color: #fff;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
#btn-modal {
  overflow: visible;
  display: none;
  text-transform: none;
}
.lbl-modal {
  background: rgb(70, 53, 226);
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(241, 236, 236);
}

.lbl-modal:hover {
  color: rgb(18, 19, 18);
  display: -webkit-inline-flex;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
  .contenedor {
    width: 95%;
  }
}
