/* ================================General====================================*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
}

.full-reset {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.cover-background {
    background-attachment: fixed;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-container {
    background-color: transparent;
    height: 100%;
    height: auto !important;
    min-height: 100%;
    position: relative;
}

.content-page {
    padding-bottom: 200px;
    /*Si modifica esta propiedad, tambien hacerlo en height de la clase .footer*/
}

.footer {
    background-color: #000;
    bottom: 0 !important;
    bottom: -1px;
    color: #9f9f9f;
    height: 200px;
    /*Si modifica esta propiedad, tambien hacerlo en padding-botton de la clase .content-page*/
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.section {
    margin: 0;
    padding: 50px 0;
    width: 100%;
}

.center-box-content {
    margin: 0 auto;
}

.tittles-pages {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}


/* ================================NavBar====================================*/

.nav-phonestore {
    background-color: #000;
    height: 55px;
    position: relative;
}

.logo {
    float: left;
    height: 55px;
    width: 30%;
    line-height: 55px;
    color: #fff;
    text-align: center;
}

.navigation-list {
    float: left;
    height: 55px;
    width: 70%;
    border-top: 1px solid
}

.navigation-list>li {
    display: inline-block;
    height: 55px;
}

.navigation-list>li a:hover {
    color: rgb(231, 76, 60)
}


/* ================================Social icons====================================*/

.list-social-icons>li {
    display: inline-block;
    margin: 0 4px;
}

.list-social-icons>li>a>i {
    transition: all .3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
}

.list-social-icons>li>a>i:hover {
    transform: scale(1.5);
}


/* ================================Styles Index====================================*/

.font-content-index {
    background-image: url(../assets/img/phone-font-index.jpg);
}

.OS-phones {
    background-color: rgba(231, 76, 60, 0.9);
    color: #000;
    width: 100%;
}

.news-promo-content {
    background-color: #fff;
    width: 100%;
}

.content-dest {
    padding-bottom: 30px;
    padding-top: 30px;
}


/* ================================Styles Product====================================*/

.content-carousel {
    background-color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
}

.static-image-carousel {
    background-color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
}

.thumbnail-content-phones {
    background: #ffffff;
    /* Old browsers */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* W3C */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
    padding-bottom: 15px;
    padding-top: 15px;
}


/* ================================Styles news====================================*/

.font-content-news {
    background-image: url(../assets/img/phone-font-news.jpg);
}

.jumbotron {
    background-color: rgba(0, 3, 0, .4);
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 250px;
}

.all-news-contents {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}


/* ================================Styles services====================================*/

.font-content-services {
    background-image: url(../assets/img/phone-font-news.jpg);
}

.all-services {
    background-color: rgba(236, 240, 241, 0.9);
    color: #000;
}

.principal-container-services {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.principal-container-services>a {
    background-color: #ecf0f1;
    box-shadow: .5px .5px 3px #000;
    display: inline-block;
    height: 320px;
    margin: 4px 0.2%;
    min-height: 320px;
    overflow: hidden;
    padding: 25px 0px;
    vertical-align: baseline;
    width: 23%;
}

.principal-container-services>a:focus {
    outline: none;
    text-decoration: none;
}

.principal-container-services>a:hover {
    background-color: #000;
    text-decoration: none;
    transition: all .3s linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}

.icon-service,
.tittle-service,
.description-service {
    color: #333;
    text-align: center;
    transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    width: 100%;
}

.icon-service {
    font-size: 60px;
    opacity: .2;
}

.tittle-service {
    font-size: 25px;
    margin-top: 25px;
}

.description-service {
    font-size: 12px;
    padding: 10px 5px;
}

.principal-container-services>a:hover .icon-service {
    color: #ff2020;
    opacity: .2;
    transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
    -moz-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
    -ms-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
    -o-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
    -webkit-transform: scale(5, 5) rotate(20deg) translate(5px, 15px);
}

.principal-container-services>a:hover .tittle-service {
    color: rgb(255, 144, 0);
    transform: translateY(-32px);
    -moz-transform: translateY(-32px);
    -ms-transform: translateY(-32px);
    -o-transform: translateY(-32px);
    -webkit-transform: translateY(-32px);
}

.principal-container-services>a:hover .description-service {
    color: rgb(255, 144, 0);
    transform: translateY(-32px);
    -moz-transform: translateY(-32px);
    -ms-transform: translateY(-32px);
    -o-transform: translateY(-32px);
    -webkit-transform: translateY(-32px);
}


/* ================================Styles contact====================================*/

.font-content-contact {
    background-image: url(../assets/img/phone-font-index.jpg);
}

.contact-form-info {
    background-color: rgba(0, 3, 0, 0.8);
    color: #fff;
}

.well {
    background-color: rgba(231, 76, 60, 0.2);
    border: solid 1px rgba(231, 76, 60, 0.2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.input-form-contact {
    background-color: rgba(236, 240, 241, 0.3);
    color: #fff;
    font-style: italic;
}

.input-form-contact::-moz-placeholder {
    color: #fff;
    opacity: .5;
}

.input-form-contact:-ms-input-placeholder {
    color: #fff;
    opacity: .5;
}

.input-form-contact::-webkit-input-placeholder {
    color: #fff;
    opacity: .5;
}


/* ======================================= MediaQueries bootstrap =======================================*/


/* col-xs */

@media (max-width: 767px) {
    .jumbotron {
        background-color: rgb(255, 255, 255);
        color: #333;
        padding-bottom: 60px;
    }
    .jumbotron>p {
        font-size: 16px;
    }
    .logo {
        width: 100%;
    }
    #navbarSupportedContent {
        position: absolute;
        top: 55px;
        border-top: 1px solid rgba(255, 255, 255, .7);
        width: 100%;
        background-color: #000;
        height: auto;
        pointer-events: none;
        opacity: 0;
        z-index: 99;
        text-align: right;
    }
    .navigation-list li {
        display: block;
        width: 100%;
    }
    .navigation-list-show {
        pointer-events: auto;
        opacity: 1;
    }
    .btn-mobile {
        height: 55px;
        width: 55px;
        line-height: 55px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
    }
    .principal-container-services>a {
        margin: 15px 0;
        width: 100%;
    }
    .social-img {
        height: 48px;
        width: 48px;
    }
    .tittles-pages {
        font-family: 'Lobster', cursive;
        font-size: 30px;
    }
}


/* col-sm */

@media (min-width: 768px) and (max-width: 991px) {
    .principal-container-services>a {
        width: 48%;
    }
    .jumbotron {
        padding-bottom: 70px;
    }
}


/* col-md */

@media (min-width: 992px) and (max-width: 1199px) {
    /*Estilos css aquí*/
}


/* col-lg */

@media (min-width: 1200px) {
    /*Estilos css aquí*/
}